In [4]:
import pickle
import pandas as pd
import numpy as np

In [2]:
with open('model1.pkl', 'rb') as file:  
    model1 = pickle.load(file)
with open('model3.pkl', 'rb') as file:  
    model3 = pickle.load(file)
with open('model4.pkl', 'rb') as file:  
    model4 = pickle.load(file)
with open('model5.pkl', 'rb') as file:  
    model5 = pickle.load(file)

In [21]:
df = pd.read_csv('modstudent.csv')
df.head()

,continue_drop,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
0,0,s00001,2,3,0.409,0.514,0.409,6,0,2,1,310,262,28.0,1985.0
1,0,s00002,2,2,0.290,0.512,0.290,4,7,2,1,328,356,14.0,1943.0
2,0,s00003,2,1,0.602,0.666,0.602,4,2,2,0,322,179,8.0,1955.0
3,0,s00004,2,2,0.378,0.526,0.378,8,7,2,1,305,354,86.0,1986.0
4,0,s00005,2,1,0.536,0.614,0.536,9,4,0,1,360,273,2.0,1995.0

In [22]:
cols = ['gender', 'caste', 'mathematics_marks','english_marks', 'science_marks', 'science_teacher','languages_teacher', 'guardian', 'internet']

In [23]:
df1 = df.drop(['continue_drop','student_id','school_id','total_students', 'total_toilets', 'establishment_year'],axis=1)

In [24]:
df1.columns

Index(['gender', 'caste', 'mathematics_marks', 'english_marks',
       'science_marks', 'science_teacher', 'languages_teacher', 'guardian',
       'internet'],
      dtype='object')

In [25]:
df1.head(1)

,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet
0,2,3,0.409,0.514,0.409,6,0,2,1

In [26]:
int_features =list(df1.iloc[1])
final = np.array(int_features)
data_unseen = pd.DataFrame([final], columns = cols)
data_unseen

,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet
0,2.0,2.0,0.29,0.512,0.29,4.0,7.0,2.0,1.0

In [33]:
prediction = model1.predict(data_unseen)
prediction1 = int(prediction[0])
prediction = model3.predict(data_unseen)
prediction3 = int(prediction[0])
prediction = model4.predict(data_unseen)
prediction4 = int(prediction[0])
prediction = model5.predict(data_unseen)
prediction5 = int(prediction[0])

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  16 out of  20 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=8)]: Done  20 out of  20 | elapsed:    0.0s finished

In [41]:
from scipy import stats

In [45]:
stats.mode([prediction1,prediction3,prediction4,prediction5])[0][0]

0